* {
  box-sizing: border-box;
}

body {
  margin: 0px; 
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #302e2b;
  
}

.grid {
  height: 700px;
  width: 700px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

.grid div {
  height: 8.333333%;
  width: 8.333333%;
  border: 1px solid black;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.hidden {
  display: none;
}

.buttons {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 90px;
}

button {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}

.bordering {
  visibility: hidden;
}  

h1 {
  font-family:'Courier New', Courier, monospace;
  position: relative;
  top: 100px;
  color: white;
}

#evaluation {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
}

.quote {
  color: grey;
  font-size: 14px;
  padding-bottom: 20px;
}