* {
  box-sizing: border-box;
}

body {
  margin: 0px; 
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.grid {
  height: 700px;
  width: 700px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  
  
}

.grid div {
  height: 8.333333%;
  width: 8.333333%;
  border: 1px solid black;
  
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid .bordering {
  border: 0px white;
  color: white;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

img {
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.whiteKing {
  width: 40px;
  height: 40px;
}

.blackKing {
  width: 50px;
  height: 50px;
}

.buttons {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

button {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}