* {
  box-sizing: border-box;
}

body {
  margin: 0px; 
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 600px;
  width: 600px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 10%;
  width: 10%;
  border: 1px solid black;
}

.grid-wrapper {
  height: 90vh;
}

.grid .bordering {
  border: 0px white;
  color: white;
}


img {
  width: 40px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.whiteKing {
  width: 40px;
  height: 40px;
}